In [2]:
a = {}
print(type(a))

<class 'dict'>

In [3]:
# features of dictionary
# 1. mutable datatype
# 2. indexed
# 3. unordered
# 4. custom index
# 5. duplicate elements

In [4]:
# a = {<key>:<value>, <key>:<value>,........}

In [6]:
a = {'a':'apple','b':'ball','c':'cat'}
print(a)
print(type(a))

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
<class 'dict'>

In [11]:
print(a['b'])

ball

In [13]:
a = {'b':'ball','a':'apple','c':'cat'}
print(a)

{'b': 'ball', 'a': 'apple', 'c': 'cat'}

In [15]:
a = {'b':'ball','a':'apple','c':'cat','a':'ant'}
print(a)

{'b': 'ball', 'a': 'ant', 'c': 'cat'}

In [17]:
a = {}
a['a'] = 'Apple'
a['b'] = 'Ball'
a['c'] = 'Cat'
a['a'] = 'Dog'
print(a)

{'a': 'Dog', 'b': 'Ball', 'c': 'Cat'}

In [18]:
a = {0.5: 'Ant', 'b': 'Ball', 'c': 'Cat'}
print(a)

{0.5: 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [22]:
# key can be any int, float, str i.e it must be of immutable type

In [26]:
a = {'(a,)':'Apple','b':'Ball','c':'Cat'}
print(a)

{'(a,)': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [32]:
a = {'a':'apple','b':'ball','c':'cat'}
for i in a:
    print(i)

a
b
c

In [33]:
a = {'a':'apple','b':'ball','c':'cat'}
for i in a.items():
    print(i)

('a', 'apple')
('b', 'ball')
('c', 'cat')

In [34]:
# conversion of dict into list
a_list = []
a = {'a':'apple','b':'ball','c':'cat'}
for i in a.items():
    a_list.append(i)
    
print(a_list)

[('a', 'apple'), ('b', 'ball'), ('c', 'cat')]

In [36]:
# conversion of list into dict
a = [('a', 'apple'), ('b', 'ball'), ('c', 'cat')]
a_dict = {}
for i in a:
    key = i[0]
    value = i[1]
    a_dict[key] = value
    
print(a_dict)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [37]:
# create dictionary

infos = {}
n = int(input("Enter number = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone number = ")
    key = name
    value = phone
    infos[key] = value
    
print(infos)

Enter number = 2
Enter name = ram
Enter phone number = 9878347398
Enter name = hari
Enter phone number = 9837648334
{'ram': '9878347398', 'hari': '9837648334'}

In [38]:
infos['ram']

'9878347398'

In [41]:
# read dictionary
for i in infos.items():
    print(i)
    
# Or
name = input("Enter name for search = ")
print(infos[name])

('ram', '9878347398')
('hari', '9837648334')
Enter name for search = ram
9878347398

In [43]:
# update
print(infos)

name = input("Enter name for search = ")
new_phone = input("Enter new phone = ")
infos[name] = new_phone
print(infos)

{'ram': '9878347398', 'hari': '9837648334'}
Enter name for search = ram
Enter new phone = 66666666
{'ram': '66666666', 'hari': '9837648334'}

In [44]:
# delete
a = {'Ram': 9800000000, 'Shyam': 9867665654}
del a['Ram']
print(a)

{'Shyam': 9867665654}

In [45]:
# pop

a = {'Ram': 9800000000, 'Shyam': 9867665654}
a.pop('Ram')

9800000000

In [46]:
print(a)

{'Shyam': 9867665654}

In [48]:
a = {'Ram': 9800000000, 'Shyam': 9867665654}
b = a.pop('Ram')
print(a)
print(b)

{'Shyam': 9867665654}
9800000000

In [49]:
# clear() 

a = {'Ram': 9800000000, 'Shyam': 9867665654}
a.clear()
print(a)

{}

In [51]:
# update()

a = {'Ram': 9800000000, 'Shyam': 9867665654}
b = {'Hari':98730897654}
a.update(b)
print(a)

{'Ram': 9800000000, 'Shyam': 9867665654, 'Hari': 98730897654}

In [55]:
a = list("Apple")
b = tuple(a)
print(a)
print(b)

['A', 'p', 'p', 'l', 'e']
('A', 'p', 'p', 'l', 'e')

In [56]:
print(dict(b))

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [57]:
a = dict()
print(a)

{}

In [60]:
a = {'Ram': 9800000000, 'Shyam': 9867665654}
b = a.copy()
print(b)

{'Ram': 9800000000, 'Shyam': 9867665654}

In [61]:
data = {'name':'Ram','age':52,'add':'Kathmandu'}
def infos(info):
    name = info['name']
    age = info['age']
    add = info['add']
    print(name, age, add)
infos(data)

Ram 52 Kathmandu

In [63]:
# list inside dict
# a = {1:['Ram',56,'kathmandu'], 2:['Hari',55,'Bhaktapur']}
# a = {'Roll':[1,2], 'Age':[45,55], 'Address':['Bkt','Ktm']}

In [64]:
# create dict
a = {}
n = int(input("Enter how many to record = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    a[i] = [name,age,add]
    
print(a)

Enter how many to record = 2
Enter name = pralin
Enter age = 6
Enter address = bkt
Enter name = padam'
Enter age = 30
Enter address = bkt
{1: ['pralin', 6, 'bkt'], 2: ["padam'", 30, 'bkt']}

In [65]:
# read dict
for i in a.items():
    print(i)

(1, ['pralin', 6, 'bkt'])
(2, ["padam'", 30, 'bkt'])

In [66]:
# update dict
a[1][0] = "Pralin"
print(a)

{1: ['Pralin', 6, 'bkt'], 2: ["padam'", 30, 'bkt']}

In [67]:
a[1][2] = ['Thimi','Bkt']
print(a)

{1: ['Pralin', 6, ['Thimi', 'Bkt']], 2: ["padam'", 30, 'bkt']}

In [69]:
a[1][2].append('Gorkha')
print(a)

{1: ['Pralin', 6, ['Thimi', 'Bkt', 'Gorkha']], 2: ["padam'", 30, 'bkt']}

In [75]:
# b = {'Roll':[1,2],'Name':['Ram','Shyam'],'Age':[56,78],'Address':['Kathmandu','Bara']}
# infos = {}
rol = []
na = []
ag = []
ad = []
n = int(input("How many info to record? "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    rol.append(i)
    na.append(name)
    ag.append(age)
    ad.append(add)

infos = {'Roll':rol,'Name':na,'Age':ag,'Address':ad}
print(infos)

How many info to record? 2
Enter name = Ram
Enter age = 45
Enter address = Bkt
Enter name = Hari
Enter age = 50
Enter address = Ktm
{'Roll': [1, 2], 'Name': ['Ram', 'Hari'], 'Age': [45, 50], 'Address': ['Bkt', 'Ktm']}

In [78]:
b = {'Roll': [1, 2], 'Name': ['Ram', 'Hari'], 'Age': [45, 50], 'Address': ['Bkt', 'Ktm']}
roll = int(input("Enter roll number to search = "))
roll = roll-1
rol = b['Roll'][roll]
nam = b['Name'][roll]
ag = b['Age'][roll]
ad = b['Address'][roll]
print(rol,nam,ag,ad)

Enter roll number to search = 2
2 Hari 50 Ktm

In [79]:
# dicts inside dicts
c = {'Ram':{'Physics':56,'Chemistry':78,'Math':67,'English':56,'Nepali':78},
    'Shyam':{'Physics':65,'Chemistry':98,'Math':57,'English':69,'Nepali':98}}
print(c)

{'Ram': {'Physics': 56, 'Chemistry': 78, 'Math': 67, 'English': 56, 'Nepali': 78}, 'Shyam': {'Physics': 65, 'Chemistry': 98, 'Math': 57, 'English': 69, 'Nepali': 98}}

In [90]:
for i in c:
    print(i)
name = input("Enter name = ")

print(c[name])

Ram
Shyam
Enter name = Shyam
{'Physics': 65, 'Chemistry': 98, 'Math': 57, 'English': 69, 'Nepali': 98}

In [91]:
del c['Shyam']
print(c)

{'Ram': {'Physics': 56, 'Chemistry': 78, 'Math': 67, 'English': 56, 'Nepali': 78}}

In [93]:
c = {'Ram':{'Physics':56,'Chemistry':78,'Math':67,'English':56,'Nepali':78},
    'Shyam':{'Physics':65,'Chemistry':98,'Math':57,'English':69,'Nepali':98}}
c['Ram']['Physics'] = 85
print(c)

{'Ram': {'Physics': 85, 'Chemistry': 78, 'Math': 67, 'English': 56, 'Nepali': 78}, 'Shyam': {'Physics': 65, 'Chemistry': 98, 'Math': 57, 'English': 69, 'Nepali': 98}}

In [95]:
c['Ram']['Physics'] = [71,25]
print(c)

{'Ram': {'Physics': [71, 25], 'Chemistry': 78, 'Math': 67, 'English': 56, 'Nepali': 78}, 'Shyam': {'Physics': 65, 'Chemistry': 98, 'Math': 57, 'English': 69, 'Nepali': 98}}

In [96]:
x = {'Ram': {'Physics': 96, 'Chemistry': 78, 'Math': 67, 'English': 56, 'Nepali': 78}, 
     'Shyam': {'Physics': 65, 'Chemistry': 98, 'Math': 57, 'English': 69, 'Nepali': 98}}

x['Hari'] = {'Physics': 89, 'Chemistry': 58, 'Math': 47, 'English': 49, 'Nepali': 81}
print(x)

{'Ram': {'Physics': 96, 'Chemistry': 78, 'Math': 67, 'English': 56, 'Nepali': 78}, 'Shyam': {'Physics': 65, 'Chemistry': 98, 'Math': 57, 'English': 69, 'Nepali': 98}, 'Hari': {'Physics': 89, 'Chemistry': 58, 'Math': 47, 'English': 49, 'Nepali': 81}}

In [99]:
# dicts inside dict
a = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    a[i] = {'Name':name,'Age':age,'Address':add}
    
print(a)

Enter n = 2
Enter name = Rajesh
Enter age = 24
Enter address = bhaktapur
Enter name = Raj
Enter age = 24
Enter address = Thimi
{1: {'Name': 'Rajesh', 'Age': 24, 'Address': 'bhaktapur'}, 2: {'Name': 'Raj', 'Age': 24, 'Address': 'Thimi'}}

In [100]:
for i in a.items():
    print(i)

(1, {'Name': 'Rajesh', 'Age': 24, 'Address': 'bhaktapur'})
(2, {'Name': 'Raj', 'Age': 24, 'Address': 'Thimi'})

In [101]:
a[1]

{'Name': 'Rajesh', 'Age': 24, 'Address': 'bhaktapur'}

In [102]:
# dicts inside list
a = [{'Name': 'Rajesh', 'Age': 24, 'Address': 'bhaktapur'}, {'Name': 'Raj', 'Age': 24, 'Address': 'Thimi'}]
a[0]

{'Name': 'Rajesh', 'Age': 24, 'Address': 'bhaktapur'}

In [103]:
for i in a:
    print(i)

{'Name': 'Rajesh', 'Age': 24, 'Address': 'bhaktapur'}
{'Name': 'Raj', 'Age': 24, 'Address': 'Thimi'}

In [104]:
a = [{'Name': 'Rajesh', 'Age': 24, 'Address': 'bhaktapur'}, {'Name': 'Raj', 'Age': 24, 'Address': 'Thimi'}]
b = {'Name':'Hari','Age':25,'Address':'Butwal'}
a.append(b)
print(a)

[{'Name': 'Rajesh', 'Age': 24, 'Address': 'bhaktapur'}, {'Name': 'Raj', 'Age': 24, 'Address': 'Thimi'}, {'Name': 'Hari', 'Age': 25, 'Address': 'Butwal'}]

In [105]:
# dicts inside dicts
a = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    Physics = int(input("Enter Physics = "))
    Chemistry = int(input("Enter Chemistry = "))
    Math = int(input("Enter Math = "))
    English = int(input("Enter English = "))
    Nepali = int(input("Enter Nepali = "))
    
    a[name] = {'Physics':Physics,'Chemistry':Chemistry,'Math':Math,'English':English,'Nepali':Nepali}
print(a)

Enter n = 2
Enter name = Rajesh
Enter Physics = 85
Enter Chemistry = 85
Enter Math = 95
Enter English = 80
Enter Nepali = 60
Enter name = Hari
Enter Physics = 80
Enter Chemistry = 85
Enter Math = 90
Enter English = 87
Enter Nepali = 65
{'Rajesh': {'Physics': 85, 'Chemistry': 85, 'Math': 95, 'English': 80, 'Nepali': 60}, 'Hari': {'Physics': 80, 'Chemistry': 85, 'Math': 90, 'English': 87, 'Nepali': 65}}