In [ ]:
# for loop
# for(i = 0; i<5; i++) in other programming

In [ ]:
# for(5)
# for(1,5)
# for(1,5,2)

In [1]:
for i in range(5):
    print(i, "Hello world")

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [2]:
for i in range(1,5):
    print(i, "Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [3]:
for i in range(1,5,2):
    print(i, "Hello world")

1 Hello world
3 Hello world

In [5]:
def volume():
    l = int(input("Enter l = "))
    b = int(input("Enter b = "))
    h = int(input("Enter h = "))
    v = l*b*h
    print("The volume is", v)
    
for i in range(2):
    volume()

Enter l = 5
Enter b = 4
Enter h = 3
The volume is 60
Enter l = 5
Enter b = 5
Enter h = 5
The volume is 125

In [6]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s + x
    
print("The total sum is", s)
print("The average of total sum is",s/n)

Enter n = 8
Enter x = 8
Enter x = 4
Enter x = 5
Enter x = 5
Enter x = 5
Enter x = 5
Enter x = 5
Enter x = 5
The total sum is 42
The average of total sum is 5.25

In [3]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*", i,"=",i*n)

Enter n = 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [7]:
# 4! = 1*2*3*4

fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac*i

print(fac)

Enter n = 3
6

In [8]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [9]:
a = "Python"
for i in range(5):
    print(a)

Python
Python
Python
Python
Python

In [10]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [12]:
a = "Python"
for i in a:
    print(i, end =' ')

P y t h o n

In [15]:
a = "Ram", 45, "Bkt", 9832145698
for i in a:
    print(i)

Ram
45
Bkt
9832145698

In [16]:
"apple"+" "+"ball"

'apple ball'

In [20]:
info = ''
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter address = ")
    info = info+name+" "+age+" "+add+"\n"
    
print(info)

Enter n = 2
Enter name = rajesh
Enter age = 24
Enter address = bkt
Enter name = ram
Enter age = 25
Enter address = bkt
rajesh 24 bkt
ram 25 bkt

In [21]:
print(info)

rajesh 24 bkt
ram 25 bkt