In [19]:
# creatina a list with null value
list = []
print(list)
print(type(list))

[]
<class 'list'>

In [23]:
a = [1,2,3,4,5]
x = ['m','n','o','p']
b = ['apple','ball','cat','dog','egg']
print(b)
print(a)
print(x)
print(a+b)

['apple', 'ball', 'cat', 'dog', 'egg']
[1, 2, 3, 4, 5]
['m', 'n', 'o', 'p']
[1, 2, 3, 4, 5, 'apple', 'ball', 'cat', 'dog', 'egg']

In [18]:
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [ ]:
# ----------------FEATURE OF LIST--------------------
# 1. mutable datatype
# 2. elements are ordered 
# 3. elements are indexed
# 4. duplicate members

In [25]:
a = [1,22,3,4,5,6,22,7,22,8,22]
print(a)

[1, 22, 3, 4, 5, 6, 22, 7, 22, 8, 22]

In [26]:
a[5]

6

In [27]:
b = ['Apple','Ball','Cat']
print(b)
print(b[-1])

['Apple', 'Ball', 'Cat']
Cat

In [30]:
a = [1,22,3,4,5,6,22,7,22,8,22]
print(a[0:7])
print(a[1:])
print(a[::3])

[1, 22, 3, 4, 5, 6, 22]
[22, 3, 4, 5, 6, 22, 7, 22, 8, 22]
[1, 4, 22, 8]

In [31]:
list1 = []
num = int(input("How much value to add in list? "))
for i in range(num):
    x = input("Enter name = ")
    list1 = list1+ [x]
    
print(list1)

How much value to add in list? 5
Enter name = raj
Enter name = ram
Enter name = shyam
Enter name = hari
Enter name = gopal
['raj', 'ram', 'shyam', 'hari', 'gopal']

In [46]:
list1 = []
num = int(input("How much value to add in list? "))
for i in range(num):
    x = int(input("Enter only number here = "))
    list1.append(x)
    
print(list1)

How much value to add in list? 5
Enter only number here = 125
Enter only number here = 25
Enter only number here = 86
Enter only number here = 45
Enter only number here = 30
[125, 25, 86, 45, 30]

In [42]:
print(sum(list1))

30

In [43]:
max_value = max(list1)
min_value = min(list1)
print(max_value, min_value)

10 5

In [53]:
list1.sort()
print(list1)

[25, 30, 45, 86, 125]

In [54]:
list1.reverse()
print(list1)

[125, 86, 45, 30, 25]

In [65]:
a = ['apple','cat','hen','elephant','ball']
a.sort()
print(a)
a.reverse()
print(a)

['apple', 'ball', 'cat', 'elephant', 'hen']

In [69]:
for i in a:
    print(i)
#     print(i, end = ' ')

apple
ball
cat
elephant
hen

In [68]:
for i in range(len(a)):
    print(a[i])

apple
ball
cat
elephant
hen

In [71]:
# list as an argument
data = ['Ram', 45, 'Bhaktapur']
def info(x):
    a,b,c = x
    print(a,b,c)

info(data)

Ram 45 Bhaktapur

In [74]:
# list as an argument
data = ['Ram', 45, 'Bhaktapur']
def info(x):
    name = x[0]
    age = x[1]
    add = x[2]
    print("Name =",name, "Age =",age, "Address =",add)

info(data)

Name = Ram Age = 45 Address = Bhaktapur

In [87]:
# creating a list
data = []
nums = int(input("How many to add in list? "))
for i in range(nums):
    x = int(input("Only enter number = "))
    data.append(x)
    
print(data)

How many to add in list? 5
Only enter number = 56
Only enter number = 87
Only enter number = 52
Only enter number = 65
Only enter number = 49
[56, 87, 52, 65, 49]

In [88]:
for i in data:
    print(i, end = ' ')

56 87 52 65 49

In [89]:
# ------------------------------update value in list
data[4] = 10
print(data)

[56, 87, 52, 65, 10]

In [90]:
# --------------------------------Finding index of an element in list
data.index(52)

2

In [93]:
# ------------------------example of updating value in list
data = ['apple', 'ball', 'cat', 'DOG']
i = data.index('DOG')
data[i] = 'dog'
print(data)

['apple', 'ball', 'cat', 'dog']

In [95]:
# --------------------some functions used in
# del remove() pop()

# ------USING del 
data = ['apple','ball','cat','dog']
i = data.index('dog')
del data[i]
print(data)

['apple', 'ball', 'cat']

In [96]:
data = ['Apple','Ball','Cat','dog','Fish']
del data[0:4]
print(data)

['Fish']

In [97]:
# ----------using remove()
data = ['Apple','Ball','Cat','dog','Fish']
data.remove('Cat')
print(data)

['Apple', 'Ball', 'dog', 'Fish']

In [100]:
data = ['Apple','Ball','Cat','dog','Fish','Apple','Apple']
data.remove('Apple')
data.remove('Apple')
print(data)

['Ball', 'Cat', 'dog', 'Fish', 'Apple']

In [112]:
data = ['Apple','Ball','Cat','dog','Fish','Apple','Apple']
update_data = []
new = []
for i in range(len(data)):
    if data[i] == 'Apple':
        x = i
        new.append(x)
        del new[::]
    else:
        update_data.append(data[i])
        
print(update_data)

['Ball', 'Cat', 'dog', 'Fish']

In [118]:
data = ['Apple','Ball','Cat','dog','Fish','Apple','Apple']
counts = data.count('Apple')
print(counts)
for i in range(counts-1):
    data.remove('Apple')
    print(data)

3
['Ball', 'Cat', 'dog', 'Fish', 'Apple', 'Apple']
['Ball', 'Cat', 'dog', 'Fish', 'Apple']

In [124]:
indexes = []
data = ['Apple','Ball','Cat','dog','Fish','Apple','Apple']
for i in range(len(data)):
    if data[i] == 'Apple':
        x = i
        indexes.append(x)
print(indexes)

[0, 5, 6]

In [126]:
# ---------------------------List inside list----------------------
a = [[],[],[],[],[],[],[],[],[]]
print(a)
print(type(a))

[[], [], [], [], [], [], [], [], []]
<class 'list'>

In [128]:
a = [[1,2,3],[4,5,6],[7,8,9]]
print(a)
a[1]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[4, 5, 6]

In [130]:
a[0:2]

[[1, 2, 3], [4, 5, 6]]

In [133]:
a[0][2]

3

In [135]:
a = [[1,2,3],[4,5,6]]
b = [[7,8,9]]
print(a+b)
print(len(a+b))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3

In [137]:
a = [[1,2,3],[4,5,6]]
b = [7,8,9]
print(a+b)
print(len(a+b))

[[1, 2, 3], [4, 5, 6], 7, 8, 9]
5

In [17]:
infos = []
n = int(input("How many list to add inside list? "))
for i in range(n):
    name = input("Enter name = ")
    add = input("Enter address = ")
    info = [name,add]
    infos.append(info)
    
print(infos)

How many list to add inside list? 2
Enter name = ram
Enter address = bkt
Enter name = shyam
Enter address = ktm
[['ram ', 'bkt'], ['shyam', 'ktm']]

In [18]:
print(infos)

[['ram ', 'bkt'], ['shyam', 'ktm']]

In [19]:
# read lists of list individually using for loop 
for i in infos:
    print(i)

['ram ', 'bkt']
['shyam', 'ktm']

In [20]:
# retreiving element from infos with its index value
infos[0]

['ram ', 'bkt']

In [21]:
# updating whole value of list inside list
infos[0] = ['hari', 'bhaktapur']
print(infos)

[['hari', 'bhaktapur'], ['shyam', 'ktm']]

In [22]:
# updating value of an element of list inside list
infos[0][0] = 'ram shrestha'
print(infos)

[['ram shrestha', 'bhaktapur'], ['shyam', 'ktm']]

In [23]:
# deleting list from inside list
del infos[0]
print(infos)

[['shyam', 'ktm']]

In [24]:
del infos[0][0]
print(infos)

[['ktm']]

In [26]:
infos = [['Ram', 9841223344], ['Shyam', '9899776655']]
infos[0].remove('Ram')

In [27]:
infos = [['Ram', 9841223344], ['Shyam', '9899776655']]
infos[0].index('Ram')

0

In [31]:
# search for an element in list inside of list
infos = [['Ram', 9841223344], ['Shyam', '9899776655']]
for i in infos:
    if 'Ram' in i:
        print('Yes', infos.count(i))

Yes 1

In [34]:
# search for an element in list inside of list
infos = [['Ram', 9841223344], ['Shyam', 9899776655]]
x = input("Enter any value for search = ")
for i in infos:
    if x in i:
        print('Yes', infos.count(i))
        print(i)

Enter any value for search = Ram
Yes 1
['Ram', 9841223344]

In [43]:
infos = [['Ram', 9841223344], ['Shyam', 9899776655]]
x = input("Enter any value for search = ").lower()
for i in range(len(infos)):
    infos[i][0] = infos[i][0].lower()
    if x in infos[i]:
        print("yes")
        print(infos[i])
        
print(infos)

Enter any value for search = RaM
yes
['ram', 9841223344]
[['ram', 9841223344], ['shyam', 9899776655]]

In [49]:
infos = [['Ram', 9841223344], ['Shyam', 9899776655],['Ram',9867665654]]
x = input("Enter any value for search = ").lower()
for i in range(len(infos)):
    if x == infos[i][0].lower():    #must match condition i.e. search value must be in 0 index.
        print(i, "Yes")
        print(infos[i])
        
    if x in infos[i][0].lower():
        print(i,"Yes")
        print(infos[i])

Enter any value for search = RaM
0 Yes
['Ram', 9841223344]
0 Yes
['Ram', 9841223344]
2 Yes
['Ram', 9867665654]
2 Yes
['Ram', 9867665654]

In [60]:
infos = [['Ram', 9841223344], ['Shyam', 9899776655],[9867665654,'Ram']]
x = input("Enter any value for search = ")
for i in range(len(infos)):
    if x in infos[i]:
        print(i, infos[i].index(x))

Enter any value for search = Ram
0 0
2 1

In [62]:
infos = ''
for i in range(2):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    phone = int(input("Enter phone = "))

    info = f"{name} {age} {add} {phone}\n"
    infos = infos+info
    
print(infos)

Enter name = raj
Enter age = 34
Enter address = bkt
Enter phone = 98340343434
Enter name = ram
Enter age = 45
Enter address = bkt
Enter phone = 9832423423434
raj 34 bkt 98340343434
ram 45 bkt 9832423423434

In [63]:
print(infos)

raj 34 bkt 98340343434
ram 45 bkt 9832423423434

In [74]:
new_data = infos.split('\n')
new_data = new_data[0:-1]
print(new_data)

['raj 34 bkt 98340343434', 'ram 45 bkt 9832423423434']

In [75]:
output = []
for i in new_data:
    split_data = i.split()
    output.append(split_data)
    
print(output)

[['raj', '34', 'bkt', '98340343434'], ['ram', '45', 'bkt', '9832423423434']]