In [2]:
a = "Hello world"
print(a)
type(a)

Hello world

str

In [3]:
a = input("Enter name = ")
print(a)
type(a)

Enter name = ram
ram

str

In [6]:
a = "Hello I am python"
print(a[6])
len(a)

I

17

In [8]:
a[0:5]

'Hello'

In [9]:
# operator use for string [+, *]
a = input("Enter name = ")
b = input("Enter name = ")
print(a+b)

Enter name = raja
Enter name = baja
rajabaja

In [12]:
a = "ram"
b = 70
a+str(b)

'ram70'

In [2]:
#            ---------------------STRING FORMATING--------------

name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")
phone = int(input("Enter phone number = "))

info = f"My name is {name} and I am {age}. I am from {add} and my contact no. is {phone}."
print(info)

Enter name = rajesh
Enter age = 24
Enter address = bkt
Enter phone number = 983435
My name is rajesh and I am 24. I am from bkt and my contact no. is 983435.

In [3]:
infos = ''
for i in range(2):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    phone = int(input("Enter phone number = "))
    
    info = f"{name} {age} {add} {phone}\n"
    infos = infos+info
    
print(infos)

Enter name = ram
Enter age = 45
Enter address = bkt
Enter phone number = 989823748324
Enter name = hari
Enter age = 34
Enter address = ktm
Enter phone number = 98234234234
ram 45 bkt 989823748324
hari 34 ktm 98234234234

In [5]:
infos.split('\n')

['ram 45 bkt 989823748324', 'hari 34 ktm 98234234234', '']

In [9]:
# ------Search------
if 'raj' in infos:
    print("Yes")

else:
    print("No")

Yes

In [10]:
infos.count('raj')

1

In [11]:
if 'raj' in infos:
    print("yes", infos.count('raj'))

yes 1

In [15]:
# takes user input for search value
name = input("Enter name for search = ")
if name in infos:
    print("Yes", infos.count(name))
else:
    print("Name not found in infos")

Enter name for search = ram
Yes 1

In [10]:
data = infos.split('\n')
for i in data:
    print(i)

ram 45 bkt 989823748324
hari 34 ktm 98234234234

In [14]:
# -----------REPLACE FUNCTION--------
print(infos.replace('ram','shyam'))

shyam 45 bkt 989823748324
hari 34 ktm 98234234234

In [22]:
a = "Ram  "
a.split('  ')[0]

'Ram'

In [24]:
name = input("Enter name = ")
x = name.replace(' ','')
print(x)

Enter name =         ram
ram

In [25]:
len(x)

3

In [26]:
x = "shyam 45 bkt 989823748324"
y = x.replace('989823748324', '')
print(y)

shyam 45 bkt

In [29]:
a = "Ram 35 bkt 98632456987, Ram 45 ktm 9863245698"
b = a.replace('Ram 35','Shyam 35')
print(b)

Shyam 35 bkt 98632456987, Ram 45 ktm 9863245698

In [32]:
name = "Rajesh"
print(name.upper())
print(name.lower())

RAJESH
rajesh

In [34]:
infos = "Ram 35 bkt 98632456987, Shyam 45 ktm 9863245698".lower()
name = input("Enter name = ").lower()
if name in infos:
    print("Yes", infos.count(name))

Enter name = ktm
Yes 1

In [37]:
infos = ''
for i in range(2):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    phone = int(input("Enter phone = "))

    info = f"{name} {age} {add} {phone}\n"
    infos = infos+info
    
print(infos)
# replace
search = input("Enter what to replace = ")
replace_data = input("Enter by what to replace = ")
print(infos.replace(search,replace_data))

Enter name = raja
Enter age = 7
Enter address = bkt
Enter phone = 98765676677
Enter name = baja
Enter age = 8
Enter address = ktm
Enter phone = 9809876546
raja 7 bkt 98765676677
baja 8 ktm 9809876546

Enter what to replace = baja
Enter by what to replace = rajkumar
raja 7 bkt 98765676677
rajkumar 8 ktm 9809876546